[Desktop Entry]
Encoding=UTF-8
Name=LotteryTickets
Comment=NovaCoin P2P Cryptocurrency
Comment[fr]=LotteryTickets, monnaie virtuelle cryptographique pair à pair
Comment[tr]=LotteryTickets, eşten eşe kriptografik sanal para birimi
Exec=/usr/bin/LotteryTickets-qt
Terminal=false
Type=Application
Icon=/usr/share/pixmaps/bitcoin80.xpm
MimeType=x-scheme-handler/LotteryTickets;
Categories=Office;
